<h2>Manage Conversions</h2>

<button (click)="newConversion()">Add Conversion</button>

<form *ngIf="showConversionForm" [formGroup]="conversionForm" (ngSubmit)="save()">
  <label>
    Measurement 1: 
    <input type="integer" formControlName="fromQty" min="0" required>
    <select formControlName="fromName" required>
      <option value="" disabled>-- Select --</option>
      <option *ngFor="let measurement of measurements" value="{{measurement.name}}">{{ measurement.name }}</option>
    </select>
  </label>
  <div *ngIf="fromQty.invalid && (fromQty.touched || fromQty.dirty)" class="alert alert-danger">
    <div *ngIf="fromQty.errors.required">
      A quantity for Measurement 1 is required.
    </div>
    <div *ngIf="fromQty.errors.min">
      Quantity for Measurement 1 cannot be less than 0.
    </div>
  </div>
  <div *ngIf="fromName.invalid && (fromName.touched || fromName.dirty)" class="alert alert-danger">
    <div *ngIf="fromName.errors.required">
      A measurement must be selected for Measurement 1.
    </div>
  </div>

  <p>-- Is equivalent to --</p>

  <label>
    Measurement 2:
    <input type="integer" formControlName="toQty" min="0" required>
    <select formControlName="toName" required>
      <option value="" disabled>-- Select --</option>
      <option *ngFor="let measurement of measurements" value="{{measurement.name}}">{{ measurement.name }}</option>
    </select>
  </label>
  <div *ngIf="toQty.invalid && (toQty.touched || toQty.dirty)" class="alert alert-danger">
    <div *ngIf="toQty.errors.required">
      A quantity for Measurement 2 is required.
    </div>
    <div *ngIf="toQty.errors.min">
      Quantity for Measurement 2 cannot be less than 0.
    </div>
  </div>
  <div *ngIf="toName.invalid && (toName.touched || toName.dirty)" class="alert alert-danger">
    <div *ngIf="toName.errors.required">
      A measurement must be selected for Measurement 1.
    </div>
  </div>

  <br/>
  <button type="submit" [disabled]="!conversionForm.valid">Save</button>
  <button type="button" (click)="close()">Cancel</button>
</form>

<table *ngIf="conversions.length > 0" class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Measurement One</th>
      <th>Measurement Two</th>
      <th>Is Generic</th>
      <th>Ingredient Id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let conversion of conversions">
      <td>{{ conversion.id }}</td>
      <td>{{ conversion.measOneQty }} {{ conversion.measOneName }}</td>
      <td>{{ conversion.measTwoQty }} {{ conversion.measTwoName }}</td>
      <td>{{ conversion.isGeneric }}</td>
      <td>{{ conversion.ingredientId }}</td>
    </tr>
  </tbody>
</table>