<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">{{ appName }}</a>

  <button type="button" class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="fas fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
    <ul class="navbar-nav">
      <li ngbDropdown>
        <a class="nav-link" ngbDropdownToggle>Manage</a>
        <div class="dropdown-menu bg-secondary" ngbDropdownMenu>
          <a class="dropdown-item" ngbDropdownItem routerLink='/manageMeasurements'
            (click)="isMenuCollapsed = true">Measurements</a>
          <a class="dropdown-item" ngbDropdownItem routerLink='/manageIngredients'
            (click)="isMenuCollapsed = true">Ingredients</a>
          <a class="dropdown-item" ngbDropdownItem routerLink='/manageConversions'
            (click)="isMenuCollapsed = true">Conversions</a>
          <a class="dropdown-item" ngbDropdownItem routerLink='/manageRecipes'
            (click)="isMenuCollapsed = true">Recipes</a>
        </div>
      </li>
      <li><a class="nav-link" routerLink="/pantry" (click)="isMenuCollapsed = true">Pantry</a></li>
      <li><a class="nav-link" routerLink='/menu' (click)="isMenuCollapsed = true">Menu</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>